body {
    font-family: 'Lato', "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 80px;
    background-color: #f7f7f7;
}

h1, h5{
    color: #fd9192;
    font-family: 'Montserrat';
}

h3 {
    font-family: 'Montserrat';
    color: #af8bcd;
}

h4 {
    font-family: 'Montserrat';
    margin-bottom: 0;
    color: #8191d1;
}

header p {
    font-family: 'Open Sans';
    color:#af8bcd
}

p {
    font-family: 'Open Sans';
    color: #666666;
}

.btn {
    background-color: #8191d1;
}

.btn:hover {
    background-color:#fd9192;
}

#register{
    border:5px solid transparent; /* this was 1px earlier */
    padding-right : 50px;
    padding-left : 50px;
    /* padding-top: 50px; */
}

#date {
    font-family: 'Open Sans';
    color: #666666;
    padding-bottom: 5%;
    padding-top: 0;
}

#nav {
    color: #8191d1;
}

.navbar {
    background-color: #fcfcfc;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#nav:hover {
    color:#fd9192;
}

.nav-item {
    text-align: middle;
}

.carousel-inner {
    margin: auto;
    float: center;
}

#carousel-caption{
    background-color: rgba(0,0,0,.5);
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

#hackathon7, #hackathon5, #schedule {
    background-color: #fff;
}

#hackathon-7-sponsors img{
    max-width: 110px;
    max-height: 75px;
    /* padding: 10px; */
    padding: 5%;
}

#hackathon-7-sponsors {
    display: flex;
    padding-top: 5%;
}

#hackathon-6-sponsors img {
    max-width: 10%;
    max-height: 10%;
    padding: 10px;
}

.carousel {
    margin-bottom: 10px;
}

#intro {
    background: #fff;
    padding-top: 10px;
}

#q {
    padding-bottom: 30px;
}

@media (min-width: 375px) {
    max-width: 150px;
}

