body {
    font-family: 'Lato', "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 80px;
    background-color: #f7f7f7;
}

img {
    max-width: 150px;
}

h2 {
    color: #fd9192;
}

h5 {
    margin: 0;
}

.btn {
    background-color: #8191d1;
}

.btn:hover {
    background-color:#fd9192;
}

#nav {
    color: #8191d1;
}

.navbar {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#nav:hover {
    color:#fd9192;
}

#current {
    background-color: #f7f7f7;
}

#o2020-21 {
    background-color: #fff;
}

#o2019-20 {
    background-color: #f7f7f7;
}

#o2018-19 {
    background-color: #fff;
}

#o2017-18 {
    background-color: #f7f7f7;
}

#o2016-17 {
    background-color: #fff;
}

#years a {
    visibility: hidden;
}

#years .container {
    margin-top: 1rem;
}

.st0 {
    fill: #8191d1;
}

.st0:hover {
    fill:#fd9192;
}

#social{
    margin: .5rem;
    text-decoration: none;
}


small {
    color: #666666;
}

.nav-link {
    color: #8191d1;
}

.nav-link:hover {
    color: #fd9192;
}

header {
    z-index: -1;
}

.navbar-collapse {
    flex-grow: 0;
}

#navbarDropdownMenuLink {
    color: #8191d1;
}

footer {
    background-color: #fcfcfc;
    width:100%;
    text-align: center;
}

@media (min-width: 376px) {
   footer {
       text-align: left;
   }
}

@media (min-width: 768px) {
    #officer-row img {
        max-width: 150px;
    }
    #officer-row2 img {
        max-width: 150px;
    }

    #years a {
        color: #8191d1;
        visibility: visible;
    }

    #years a:hover {
        color:#fd9192;
    }

}

@media (min-width: 992px) {
    img {
        max-width: 400px;
    }

    #officer-row {
        margin-right: 300px;
        margin-left: 300px;
    }

    #officer-row2 {
        margin-right: 150px;
        margin-left: 150px;
    }
}