#root {
  margin-bottom: 100px;
}

body {
    font-family: 'Figtree', sans-serif;
}

header .page-title {
  text-align: center;
  background-image: url('PastEventHeroImage.jpg');
  background-size: cover;
  color: white;
  padding: 50px 0;
}

/* nav bar  */
#navbar-container {
  display: flex;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  width: 80%;
}

.navbar {
  padding: 0;
}

#winfo-logo {
  width: 100px; /* Adjust size as needed */
  cursor: pointer;
}

.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar-col {
  max-width: 20%;
}

.navlink {
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

#support-us {
  background-color: #8192D1;
  border-radius: 1000px;
  color: white;
  margin-left: 10px;
}

/* home page  */
#informatics img, #mission img, #support-about img, #past-sponsors img {
  width: 100%;
}

#home p {
  font-size: 20px;
}

#about-us, #informatics, #mission, #history {
  padding: 80px 0;
}

#informatics, #mission{
  gap: 100px;
}

#history img {
  margin-top: 30px;
  max-width: 600px;
}

#informatics .description, #mission .description {
  display: flex;
  align-items: center;
}

#informatics .description {
  margin-right: 100px;
}

/* #mission .description {
  margin-left: 100px;
} */

/* Hover effects */
.navlink:hover, .navbar-list:hover, a:hover {
  color: #FD9193;
  text-decoration: none;
  transition: all 0.3s ease;
}

#support-us:hover {
  background-color: #FD9193;
}

/* other stuff */
.banner {
  margin-bottom: 50px;
}

.col {
  padding: 0;
}

.row {
  margin: 0;
}

.container {
  padding: 0;
}

#events {
  margin-top: 60px;
  padding: 0;
}

.event-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 25px;
}

.event-card {
  border: 1px #cbcbcb solid;
  height: 100%;
  border-radius: 5px;
}

.event-card img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 0;
}

.event-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}

.event-info {
  padding: 0 20px;
  margin-bottom: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
}

.purple {
  color: #AE8BCD;
}

.pink {
  color: #FD9193;
}

.blue {
  color: #8192D1;
}

.spacer {
  height: 75px;
}

.grey-bg {
  background-color: #D9D9D9;
}

.banner {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
  font-size: 60px;
  margin-top: 10px;
  font-weight: 600;
}

#uw-banner {
  width: 400px;
}

#title-banner {
  background: url('home-banner.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-bottom: 0px;
}

#hackathon-banner {
  background: url('hackathon-banner.png');
  background-size: cover;
  background-position: center;
}

#events-banner {
  background: url('event-banner.png');
  background-size: cover;
  background-position: center;
}

#team-banner {
  background: url('officer-banner.png');
  background-size: cover;
  background-position: center;
}

#sponsor-banner {
  background: url('support-banner.png');
  background-size: cover;
  background-position: center;
}

figcaption {
  color: #717171;
  font-size: 14px;
  margin-top: 5px;
}

.home-link {
  font-size: 20px;
}

a {
  color: #8192D1;
}

button {
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
}

.white-button {
  color: #000000;
  background-color: white;
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.subtitle {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.section-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}

.subsection-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center p {
  max-width: 950px;
  margin: 0px 50px;
  text-align: center;
}

.middle {
  text-align: center;
  vertical-align: middle;
  line-height: 300px; /* same as div height */
}

/* team page  */
.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accordion-btn {
  font-weight: 600;
  font-size: 24px;
  color: #8192D1;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 1000px;
  border: 1px #cbcbcb solid;
}

.accordion-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 5px;
  margin-bottom: 15px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: auto;
  align-items: center;
  padding: 20px 10px;
}

.accordion-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.accordion-item p {
  margin: 0;
}

.accordion-content.active {
  display: block;
}

.lightgrey-bg {
  background-color: lightgray;
}

/* sponsor page  */
.past-sponsors {
  background: url("../past_sponsors.png") ;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#support-about {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#support-about .row, #sponsor-tier .row, #other-sponsorship .row {
  gap: 50px;
}

#support h3 {
  font-weight: 600;
}

#past-sponsors {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#past-sponsors .row {
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* hackathon page  */
#hackathon-faq .row, #hackathon-about .row {
  gap: 50px;
}

#hackathon-upcoming img, #hackathon-past img{
  max-width: 100%;
}

#hackathon-upcoming .row, #hackathon-past .row{
  gap: 50px;
}

#hackathon h2 {
  color: #8192D1;
  font-size: 20px;
  font-weight: 600;
}

#hackathon h3 {
  margin-bottom: 25px;
}

#hackathon p {
  margin: 0;
}

#hackathon .description {
  margin: 0;
}

#hackathon hr, #support hr {
  margin: 75px 0;
}

.navbar-list {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#hackathon iframe {
  margin-top: 15px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .col {
    margin: 10px 0; /* Add margin between stacked columns */
  }

  .event-row {
    flex-direction: column;
  }
  #events .col {
    width: 100%; /* Make each column take full width on smaller screens */
  }
  

  .navbar-col {
    flex-direction: row; /* Switch to rows on smaller screens */
  }

  .navbar-list {
    flex-direction: row;
    width: 100%; 
    justify-content: space-between;
  }
  .navbar-list p {
    display: inline-block;
    margin-right: 10px; /* Add spacing between items in rows */
    margin-bottom: 0;
  }
  .accordion-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-bottom: 15px;
  }
}